<% if posts_chunk.length % 2 == 0 %>

<% pattern = pick_random_pattern; i = 0; j = 0 %>
.posts-chunk
	<% while i < posts_chunk.length do %>
	<div class="col s12 m12 l<%= pattern[j] %>">
		#home.card.medium
			.card-image
				<img class="image-responsive" src=<%= @images.sample %>>
				span.card-title
					<%= posts_chunk[i].title %>
					span.card-tag fashion
	</div>

	<div class="col s12 m12 l<%= 12 - pattern[j] %>">
		#home.card.medium
			.card-image
				<img class="image-responsive" src=<%= @images.sample %>>
				span.card-title
					<%= posts_chunk[i + 1].title %>
					span.card-tag fashion
	</div>
	<% i += 2; j += 1 %>
	<% end %>

<% else %>

.posts-chunk
	<% posts_chunk.each do |post| %>
		.col.s12.m12.l6
			#home.card.medium
				.card-image
					<img class="image-responsive" src=<%= @images.sample %>>
					span.card-title
						<%= post.title %>
						span.card-tag fashion
	<% end %>
<% end %>
