.posts-chunk
	.col.s12.m12.l9
		#home.card.medium
			.card-image
				<img class="image-responsive" src=<%= @images.sample %>>
				span.card-title
					<%= posts_chunk[0].title %>
					span.card-tag fashion
	.col.s12.m12.l3
		#home.card.medium
			.card-image
				<img class="image-responsive" src=<%= @images.sample %>>
				span.card-title
					<%= posts_chunk[1].title %>
					span.card-tag fashion
	.col.s12.m12.l5
		#home.card.medium
			.card-image
				<img class="image-responsive" src=<%= @images.sample %>>
				span.card-title
					<%= posts_chunk[2].title %>
					span.card-tag fashion
	.col.s12.m12.l7
		#home.card.medium
			.card-image
				<img class="image-responsive" src=<%= @images.sample %>>
				span.card-title
					<%= posts_chunk[3].title %>
					span.card-tag fashion
	.col.s12.m12.l6
		#home.card.medium
			.card-image
				<img class="image-responsive" src=<%= @images.sample %>>
				span.card-title
					<%= posts_chunk[4].title %>
					span.card-tag fashion
	.col.s12.m12.l6
		#home.card.medium
			.card-image
				<img class="image-responsive" src=<%= @images.sample %>>
				span.card-title
					<%= posts_chunk[5].title %>
					span.card-tag fashion
