.container
	#search-row.row
		.col.s12.m12.l8.offset-l2
			.row
				.input-field.col.s12
					i.prefix.fa.fa-search
					input#posts-search-input.autocomplete(type='text')
					label(for='posts-search-input') Search
	#posts-list
		<% @posts.limit(6).each_with_index do |post, index| %>
		.post-item
			<div class="col s12 m12 l6 image-column <%= 'push-l6' if index % 2 == 1 %>">

				<%= link_to post do %>
				.post-image
					<img class="responsive-img post-image" src=<%= @images.sample %>>
				<% end %>

			</div>
			<div class="col s12 m12 l6 text-column <%= 'pull-l6' if index % 2 == 1 %>">
				.row.col.s12
					.post-date <%= post.published_at.to_date.to_formatted_s(:long_ordinal) %>
				.row.col.s12
					<%= link_to post do %>
					h5.post-title <%= post.title %>
					<% end %>
				.row.col.s12
					h6.post-subtitle <%= post.subtitle %>
				.row.col.s12
					<%= link_to post do %>
					p.more More...
					<% end %>
			</div>
		<% end %>


script.
	initialize_search()
