.row
	h1 Posts
	<% @posts.limit(6).each do |post| %>
	.col.s12.m4.l4
		<%= link_to post do %>
			.card
				.card-image
					<img src=<%= @images.sample %>>
					span.card-tag fashion
					span.card-title <%= post.title %>
					span.card-content
						p <%= post.subtitle %>
		<% end %>
	<% end %>
