.row
	.container
		.col.l12.m12.s12
			article#show-post


				#post-title <%= @post.title %>

				#post-subtitle <%= @post.subtitle %>
				<img src=<%= @images.sample %>>
				#post-content <%= @post.body %>


