.slider#slider
	ul.slides
		li
			img(src='placeholders/slider_image1.png')
			// random image
			.caption.right-align
				h3 <%= Faker::Company.catch_phrase %>
				h5.light.grey-text.text-lighten-3 <%= Faker::StarWars.quote %>
		li
			img(src='placeholders/slider_image2.jpg')
			// random image
			.caption.right-align
				h3 <%= Faker::Company.catch_phrase %>
				h5.light.grey-text.text-lighten-3 <%= Faker::StarWars.quote %>
		li
			img(src='placeholders/slider_image3.jpg')
			// random image
			.caption.right-align
				h3 <%= Faker::Company.catch_phrase %>
				h5.light.grey-text.text-lighten-3 <%= Faker::StarWars.quote %>
		li
			img(src='placeholders/slider_image4.jpg')
			// random image
			.caption.right-align
				h3 <%= Faker::Company.catch_phrase %>
				h5.light.grey-text.text-lighten-3 <%= Faker::StarWars.quote %>


.row
	<% @posts.limit(6).each do |post| %>
	.col.s12.m4.l4
		.card
			.card-image
				<img src=<%= @images.sample %>>
				span.card-tag fashion
				span.card-title <%= post.title %>
				span.card-content
					p <%= post.subtitle %>

	<% end %>

.row
	.parallax-container
		.parallax
			img(src="placeholders/clown.gif")
.row
	<% @posts.limit(6).each do |post| %>
	.col.s12.m4.l4
		.card
			.card-image
				<img src=<%= @images.sample %>>
				span.card-tag fashion
				span.card-title <%= post.title %>
				span.card-content
					p <%= post.subtitle %>

	<% end %>

