.slider#slider
	ul.slides
		<% @slider_posts.each_with_index do |slider_post, index| %>
		li.slide
			<%= link_to slider_post do %>
			<img src=<%= @slider_images[index] %>>
			.slide-mask
			.caption.center-align
				h4.caption-title 	<%= slider_post.title %>
				h5.caption-subtitle <%= slider_post.subtitle %>
			<% end %>
		<% end %>


<% if @posts.length > 6 %>


<% @posts.each_slice(6).with_index do |posts_chunk, index| %>

.container
	<%= render 'blog_posts/posts_chunk', posts_chunk: posts_chunk %>

<% if posts_chunk.length == 6 %>
.row
	.parallax-container
		.parallax
			<img src=<%= @paralax_images.sample.url %>>
<% end %>

<% end %>


<% else %>

.container
	<%= render 'blog_posts/posts_chunk', posts_chunk: @posts %>

<% end %>

