.slider#slider
	ul.slides
		li
			img(src='placeholders/slider_image1.png')
			.caption.right-align
				h3.caption-title 	<%= Faker::Company.catch_phrase %>
				h5.caption-subtitle <%= Faker::StarWars.quote %>
		li
			img(src='placeholders/slider_image2.jpg')
			.caption.right-align
				h3.caption-title 	<%= Faker::Company.catch_phrase %>
				h5.caption-subtitle <%= Faker::StarWars.quote %>
		li
			img(src='placeholders/slider_image3.jpg')
			.caption.right-align
				h3.caption-title 	<%= Faker::Company.catch_phrase %>
				h5.caption-subtitle <%= Faker::StarWars.quote %>
		li
			img(src='placeholders/slider_image4.jpg')
			.caption.right-align
				h3.caption-title 	<%= Faker::Company.catch_phrase %>
				h5.caption-subtitle <%= Faker::StarWars.quote %>

.container
	.row
		<% @posts.limit(6).each do |post| %>
		.col.s12.m4.l4
			.card
				.card-image
					<img src=<%= @images.sample %>>
					span.card-tag fashion
					span.card-title <%= post.title %>
					span.card-content
						p <%= post.subtitle %>

		<% end %>

	.row
		.parallax-container
			.parallax
				img(src="placeholders/clown.gif")
	.row
		<% @posts.limit(6).each do |post| %>
		.col.s12.m4.l4
			.card
				.card-image
					<img src=<%= @images.sample %>>
					span.card-tag fashion
					span.card-title <%= post.title %>
					span.card-content
						p <%= post.subtitle %>

		<% end %>

