.slider#slider
	ul.slides
		<% @slider_posts.each_with_index do |slider_post, index| %>
		li.slide
			<%= link_to slider_post do %>
			<img src=<%= @slider_images[index] %>>
			.slide-mask
			.caption.center-align
				h3.caption-title 	<%= slider_post.title %>
				h5.caption-subtitle <%= slider_post.subtitle %>
			<% end %>
		<% end %>


<% if @posts.length > 6 %>

<% @posts.each_slice(6).with_index do |posts_chunk, index| %>

.container
	.row
		<% posts_chunk.each do |post| %>
		.col.s12.m12.l4
			#home.card.large
				.card-image
					<img class="image-responsive" src=<%= @images.sample %>>
					//-span.card-tag fashion
					span.card-title
						<%= post.title %>
						span.card-tag fashion

					//- span.card-content
					//- 	p <%#= post.subtitle %>

		<% end %>


<% if posts_chunk.length == 6 %>
.row
	.parallax-container
		.parallax
			<img src=<%= @paralax_images.sample.url %>>
<% end %>


<% end %>

<% else %>

.container
	.row
		<% @posts.each do |post| %>
		.col.s12.m12.l4
			#home.card.large
				.card-image
					<img class="image-responsive" src=<%= @images.sample %>>
					//-span.card-tag fashion
					span.card-title
						<%= post.title %>
						span.card-tag fashion

					//- span.card-content
					//- 	p <%#= post.subtitle %>

		<% end %>

<% end %>

