#slider.slider
	ul.slides
		li
			img(src='slider_image1.png')
			// random image
			.caption.right-align
				h3 <%= Faker::Company.catch_phrase %>
				h5.light.grey-text.text-lighten-3 <%= Faker::StarWars.quote %>
		li
			img(src='slider_image2.jpg')
			// random image
			.caption.right-align
				h3 <%= Faker::Company.catch_phrase %>
				h5.light.grey-text.text-lighten-3 <%= Faker::StarWars.quote %>
		li
			img(src='slider_image3.jpg')
			// random image
			.caption.right-align
				h3 <%= Faker::Company.catch_phrase %>
				h5.light.grey-text.text-lighten-3 <%= Faker::StarWars.quote %>
		li
			img(src='slider_image4.jpg')
			// random image
			.caption.right-align
				h3 <%= Faker::Company.catch_phrase %>
				h5.light.grey-text.text-lighten-3 <%= Faker::StarWars.quote %>


.row
	.col.s12.m4.l4
		.card
			.card-image
				<img src="<%= Faker::Avatar.image %>">
				span.card-title Card Title
			.card-content
				p
					| I am a very simple card. I am good at containing small bits of information.
					| I am convenient because I require little markup to use effectively.
			.card-action
				a(href='#') This is a link

