
<div class="row">
  <h1>News</h1>
  <div class="container">
    <div class="col push-m9 push-l9 offset-m1 offset-l1 m2 l2">
      <div id="calendar">
        <div class="clndr-controls">
          <div class="clndr-previous-button">‹</div>
          <div class="month"></div>
          <div class="clndr-next-button">›</div>
        </div>
        <div class="clndr-grid">
          <div class="days-of-the-week"></div>
        </div>
        <div class="divider"></div>
      </div>
    </div>
    <div class="col s12 pull-m3 pull-l3 m9 l9">
      <div id="news-index"></div><% @news.each do |news_item| %>
      <div class="news-post">
        <div class="card-title"><%= news_item.title %></div>
        <div class="date"><%= news_item.published_at.to_date.to_formatted_s(:long_ordinal) %></div>
        <div class="image"><img class="responsive-img" src=<%= @images.sample %>></div>
        <div class="content"><%= news_item.subtitle %></div>
      </div><% end %>
    </div>
  </div>
</div>