
<div class="row">
  <h1>News</h1>
  <div class="container">
    <div class="col offset-m10 offset-l10">
      <div id="calendar">
        <div class="clndr-controls">
          <div class="clndr-previous-button">‹</div>
          <div class="month"></div>
          <div class="clndr-next-button">›</div>
        </div>
        <div class="clndr-grid">
          <div class="days-of-the-week"></div>
        </div>
        <div class="divider"></div>
      </div>
    </div>
    <div class="col s12 m10 l10"><% @news.each do |news_item| %>
      <div class="col s12 m4 l4"><%= link_to news_item do %>
        <div class="card">
          <div class="card-image"><img src=<%= @images.sample %>><span class="card-tag">fashion</span><span class="card-title"><%= news_item.title %></span><span class="card-content">
              <p><%= news_item.subtitle %></p></span></div>
        </div><% end %>
      </div><% end %>
    </div>
  </div>
</div>