#news-row
	.container
		h3 Latest News
		.col.s12.push-m8.push-l8.offset-m1.offset-l1.m3.l3
			#calendar
				.clndr-controls
					.clndr-previous-button ‹
					.month
					.clndr-next-buttons ›
				.clndr-grid
					.days-of-the-week
				.divider
		.col.s12.pull-m4.pull-l4.m8.l8
			#news-index
				<% @news.each do |news_item| %>
					.news-post
						.date <%= news_item.published_at.to_date.to_formatted_s(:long_ordinal) %>
						<%= link_to news_item do %>
						.title <%= news_item.title %>
						<% end %>
						.image
							<img class="responsive-img" src=<%= @images.sample %>>
						.content <%= news_item.subtitle %>
						.footer
							span.comments
								p 0 comments
							span.social
								a(href='#/').waves-effect.waves-custom
									i.fa.fa-facebook(aria-hidden='true')
								a(href='#/').waves-effect.waves-custom
									i.fa.fa-twitter(aria-hidden='true')
								a(href='#/').waves-effect.waves-custom
									i.fa.fa-tumblr(aria-hidden='true')
				<% end %>
script.
	initialize_calendar();
