#news-row.row
	.container
		h2 Latest News
		.col.s12.m12.l3.push-l8.offset-l1
			#calendar
				.clndr-controls
					.clndr-previous-button ‹
					.month
					.clndr-next-buttons ›
				.clndr-grid
					.days-of-the-week
				.divider
				.preloader-wrapper.small.active
					.spinner-layer.spinner-green-only
						.circle-clipper.left
							.circle
						.gap-patch
							.circle
						.circle-clipper.right
							.circle
		.col.s12.m12.l8.pull-l4
			#news-index
				<% @news.each do |news_item| %>
					.news-post
						h6.date <%= news_item.published_at.to_date.to_formatted_s(:long_ordinal) %>
						<%= link_to news_item do %>
						h4.title <%= news_item.title %>
						<% end %>
						.image
							<img class="responsive-img" src=<%= @images.sample %>>
						.content
							p <%= news_item.body %>

						.footer
							div.read-more-span.col.s4.hide-on-small-only.m4.l4.push-m4.push-l4
								<%= link_to news_item, class: 'read-more' do %> Read More <% end %>
							div.comments.col.s6.m4.l4.pull-m4.pull-l4
								p 0 comments
							div.social.col.s6.m4.l4.right-align
								a(href='#/').waves-effect.waves-custom
									i.fa.fa-facebook(aria-hidden='true')
								a(href='#/').waves-effect.waves-custom
									i.fa.fa-twitter(aria-hidden='true')
								a(href='#/').waves-effect.waves-custom
									i.fa.fa-tumblr(aria-hidden='true')
				<% end %>
			<%= will_paginate @news %>

script.
	initialize_calendar();
