.row
	h1 News
	.container
		.col.push-m9.push-l9.offset-m1.offset-l1.m2.l2
			#calendar
				.clndr-controls
					.clndr-previous-button ‹
					.month
					.clndr-next-button ›
				.clndr-grid
					.days-of-the-week
				.divider
		.col.s12.pull-m3.pull-l3.m9.l9
			#news-index
				<% @news.each do |news_item| %>
					.news-post

						.date <%= news_item.published_at.to_date.to_formatted_s(:long_ordinal) %>
						.title <%= news_item.title %>
						.image
							<img class="responsive-img" src=<%= @images.sample %>>
						.content <%= news_item.subtitle %>
						.divider
				<% end %>
