.row
	.container
		.col.l10.m10.s12.offset-m1.offset-l1
			article#posts-show

				#post-title <%= @news.title %>
				#post-subtitle <%= @news.subtitle %>

				.post-image-container
					<img class="responsive-img post-image" src=<%= @images.sample %>>

				#post-content <%= @news.body %>
					p <%= Faker::Hipster.paragraph %>

					.post-image-container
						<img class="responsive-img post-image" src=<%= @images.sample %>>

					p <%= Faker::Hipster.paragraph %>

					.post-image-container
						<img class="responsive-img post-image" src=<%= @images.sample %>>

					p <%= Faker::Hipster.paragraph(2) %>

					.post-image-container
						<img class="responsive-img post-image" src=<%= @images.sample %>>

.divider.end-of-post
.container
	.row#related-posts-section
		section
			h3.center-align Related Posts
			//.container
			<% @news.related_posts.each do |related| %>
			.col.s12.m4.l4
				<%= link_to related do %>

				.related-post
					.post-thumbnail
						<img class="responsive-img post-image" src=<%= @images.sample %>>
					.post-date <%= related.published_at.to_date.to_formatted_s(:long_ordinal)  %>
					.post-title <%= related.title %>
				<% end %>
					.post-subtitle <%= related.subtitle %>

			<% end %>
	.row
		#disqus_thread
		script.
			$(document).on('turbolinks:load', function () {
				var disqus_config = function () {
				this.page.url = "<%= request.original_url %>";
				this.page.identifier = "<%= @news.id %>";
				};

				(function() { // DON'T EDIT BELOW THIS LINE
				var d = document, s = d.createElement('script');
				s.src = '//gat0rama.disqus.com/embed.js';
				s.setAttribute('data-timestamp', +new Date());
				(d.head || d.body).appendChild(s);
				})();
			});
		noscript
			| Please enable JavaScript to view the
			a(href='https://disqus.com/?ref_noscript') comments powered by Disqus.
