
<div class="row">
  <h1>Posts</h1><% @posts.limit(6).each do |post| %>
  <div class="col s12 m4 l4"><%= link_to post do %>
    <div class="card">
      <div class="card-image"><img src=<%= @images.sample %>><span class="card-tag">fashion</span><span class="card-title"><%= post.title %></span><span class="card-content">
          <p><%= post.subtitle %></p></span></div>
    </div><% end %>
  </div><% end %>
</div>