
<div class="row">
  <div class="container">
    <div class="col l12 m12 s12">
      <article id="show-post">
        <div id="post-title"><%= @post.title %></div>
        <div id="post-subtitle"><%= @post.subtitle %></div>
        <div id="post-content"><%= @post.body %></div>
      </article>
    </div>
  </div>
</div>