@font-face {
  font-family:'agaramondpro-bold';
  src: font-url('AGaramondPro-Bold.otf');
}

@font-face {
  font-family:'agaramondpro-bolditalic';
  src: font-url('AGaramondPro-BoldItalic.otf');
}

@font-face {
  font-family:'agaramondpro-italic';
  src: font-url('AGaramondPro-Italic.otf');
}

@font-face {
  font-family:'agaramondpro-regular';
  src: font-url('AGaramondPro-Regular.otf');
}
@font-face {
  font-family:'garamond-regular';
  src: font-url('Garamond_Regular.ttf');
}
@font-face {
  font-family:'garamond-bold-regular';
  src: font-url('Garamond-Bold_Regular.ttf');
}
@font-face {
  font-family:'garamond-normal-bold';
  src: font-url('Garamond-Normal_Bold_font.ttf');
}
@font-face {
  font-family:'garamond-normal-bold-italic';
  src: font-url('Garamond-Normal_Bold_Italic_font.ttf');
}


@font-face {
  font-family:'glacial-bold';
  src: font-url('GlacialIndifference-Bold.otf');
}
@font-face {
  font-family:'glacial-regular';
  src: font-url('GlacialIndifference-Regular.otf');
}

@font-face {
	font-family: "universallis-regular";
	src: font-url('UniversalisADFStd-Regular.otf');
}

@font-face {
	font-family: "universallis-bold";
	src: font-url('UniversalisADFStd-Bold.otf');
}

