// Header links
nav ul a {
	color: #b5b5b5;
}

// Footer Text
footer.page-footer .container .row a,
footer.page-footer .container .row p,
footer.page-footer .container .row h5 {
	color: #6f6f6f !important;
}

footer.page-footer.container {
	background-color: #e0e0e0;
}

#footer-copyright {
	background-color: #bdbdbd;
}

