#news-row {
	@extend .row;
	margin-top: 50px;
}

#news-index {

	.news-post {
		width: 100%;
		margin-bottom: 50px;
		//margin-top: 50px;

		.title {
			font-size: 2em;
		}

		.image {
			width: 100%;

		}
		.date {
			color: #929292;
			margin-top: 10px;
    		margin-bottom: 10px;
		}

		.content {
			font-size: 1.25em;
			margin-bottom: 30px;
		}

		.footer {
			@extend .row;
			$divider-color: #c5c5c5;
			border-top: 1px solid $divider-color;
			border-bottom: 1px solid $divider-color;

			.comments {
				@extend .col;
				@extend .s6;
				@extend .m6;
				@extend .l6;

				p {
					margin: 10px;
				}
			}

			.social {
				@extend .col;
				@extend .s6;
				@extend .m6;
				@extend .l6;
				@extend .right-align;

				.fa {
					color: $slider-indicator-color;
					padding-left: 10px;
					padding-right: 10px;
					line-height: 42px;
				}
			}
		}
	}
}

// Calendar
#calendar {
	margin-top: 50px;
	width: 160px;

	@media only screen and (max-width : 600px) {
		width: 100%;
		margin-top: 0;
	}

	.clndr-controls {

		.clndr-control-button {
		    position: absolute;
		    left: 0;
		    top: 0;
			cursor: pointer;
			cursor: hand;

			&.rightalign {
			    position: absolute;
			    right: 0;
			    top: 0;
			}

			.clndr-previous-button {
				font-size: 25px;
			}

			.clndr-next-button {
				position: absolute;
				top: 0;
				right: 0;
				font-size: 25px;

			}
		}

		.month {
			text-align: center;
			margin-left: 33%;
			margin-right: 33%;
			font-weight: bold;
		}
	}//.clndr-controls

	table.clndr-table {
		@extend .row;

		tbody tr td, thead tr td {
			border-radius: 0;
			padding: 6px;
		}

		.header-days {
			font-weight: bold;
		}

		td.day {
			text-align: center;

			&.event {
				background: #62bf87;
	    		color: white;
	    		border-radius: 60%;
			}
		}
	}

	.last-month, .next-month {
		background-color: #ffffff;
		color: rgba(255, 255, 255, 0);
	}
}
