#news-row {
	@extend .row;
	margin-top: 50px;
}

#news-index {

	.news-post {
		width: 100%;
		margin-bottom: 50px;
		//margin-top: 50px;

		.title {
			font-size: 2em;
		}

		.image {
			width: 100%;

		}
		.date {
			color: #929292;
			margin-top: 10px;
    		margin-bottom: 10px;
		}

		.content {
			font-size: 1.25em;
			margin-bottom: 30px;
		}

		.footer {
			@extend .row;
			$divider-color: #c5c5c5;
			border-top: 1px solid $divider-color;
			border-bottom: 1px solid $divider-color;

			.comments {
				@extend .col;
				@extend .s6;
				@extend .m6;
				@extend .l6;

				p {
					margin: 10px;
				}
			}

			.social {
				@extend .col;
				@extend .s6;
				@extend .m6;
				@extend .l6;
				@extend .right-align;

				.fa {
					color: $slider-indicator-color;
					padding-left: 10px;
					padding-right: 10px;
					line-height: 42px;
				}
			}
		}
	}
}

// Calendar
#calendar {
	margin-top: 50px;


	@media #{$small-and-down} {
			&.pinned {
    			position: relative;
			}
	}

	.clndr-controls {
		@extend .row;

		.clndr-control-button {
			@extend .col;
			@extend .s4;
			@extend .m4;
			@extend .l4;
			// margin: 0;
			// padding: 0;

			.clndr-previous-button {
				// margin: 0;
				// padding: 0;
			}
		}

		.month {
			@extend .col;
			@extend .s4;
			@extend .m4;
			@extend .l4;
		}
	}

	.clndr-table {
		@extend .row;

		.header-days {
			font-weight: bold;
		}
	}

	table.clndr-table {
		tbody tr td, thead tr td {
			border-radius: 0;
			padding: 6px;
		}
	}

	.last-month, .next-month {
		background-color: #ffffff;
		color: rgba(255, 255, 255, 0);
	}
}
