#news-row {
	@extend .row;
	margin-top: 50px;
}

#news-index {

	.news-post {
		width: 100%;
		margin-bottom: 50px;
		//margin-top: 50px;

		.title {
			font-size: 2em;
		}

		.image {
			width: 100%;

		}
		.date {
			color: #929292;
			margin-top: 10px;
    		margin-bottom: 10px;
		}

		.content {
			font-size: 1.25em;
			margin-bottom: 30px;
		}

		.footer {
			@extend .row;
			$divider-color: #c5c5c5;
			border-top: 1px solid $divider-color;
			border-bottom: 1px solid $divider-color;

			.comments {
				@extend .col;
				@extend .s6;
				@extend .m6;
				@extend .l6;

				p {
					margin: 10px;
				}
			}

			.social {
				@extend .col;
				@extend .s6;
				@extend .m6;
				@extend .l6;
				@extend .right-align;

				.fa {
					color: $slider-indicator-color;
					padding-left: 10px;
					padding-right: 10px;
					line-height: 42px;
				}
			}
		}
	}
}

#calendar {
	margin-top: 50px;
}
