#posts-list {
	@extend .container;

	.post-item {
		@extend .row;

		.post-date {
			padding-top: 35px;
		}

		.post-title {
		    color: black;
		    font-size: 2em;
		    font-weight: bold;
		    margin-bottom: 25px;
		}

		.post-subtitle {
			color: black;
			font-size: 1.25rem;
		}

		.image-column {
			padding-right: 0;
			padding-left: 0;
		}

		.text-column {
			position: relative;
			height: $posts-index-post-height;
		}

		.post-image {
			background-color: transparent;
			width: 100%;
			height: $posts-index-post-height;
			position: relative;

			// dagwmeni gwnia
			// &:after {
			//     content: "";
			//     position: absolute;
			//     bottom: 0;
			//     left: 0;
			//     background-color: white;
			//     width: 30px;
			//     height: 10%;
			//     border-radius: 0% 100% 0% 0%;
			// }

			img {
				width: 100%;
				height: 100%;
				//border-radius: 0 50% 0 50%; // FYLA
				border-radius: 0 0 0 0;  // One edge only
				transition: border-radius 0.4s ease-in-out;
			}
		}

		// &:hover img {
		// 			//&:first-child:before {
		// 	bottom: 0;
		//     content: "";
		//     display: block;
		//     height: 70%;
		//     width: 100%;
		//     position: absolute;
		//     z-index: 1;
		//     background: -moz-linear-gradient(top,rgba(0,0,0,0) 40%,rgba(0,0,0,.7) 100%);
		//     background: -webkit-gradient(linear,left top,left bottom,color-stop(40%,rgba(0,0,0,0)),color-stop(100%,rgba(0,0,0,.7)));
		//     background: -webkit-linear-gradient(top,rgba(0,0,0,0) 40%,rgba(0,0,0,.7) 100%);
		//     background: -o-linear-gradient(top,rgba(0,0,0,0) 40%,rgba(0,0,0,.7) 100%);
		//     background: -ms-linear-gradient(top,rgba(0,0,0,0) 40%,rgba(0,0,0,.7) 100%);
		//     background: linear-gradient(to bottom,rgba(0,0,0,0) 40%,rgba(0,0,0,.7) 100%);
		// //}
		// }

		// &:hover img {
		// 	//border-radius: 0 0 80% 0%;
		// 	background-color: white;

		// 	&.even {
		// 		//border-radius: 0 0 0% 80%;
		// 	}
		// }

		.more {
			color: black;
    		font-weight: bold;
    		font-size: 1.2rem;
    		bottom: 0;
    		position: absolute;
		}
	}
}

#posts-show {

	#post-title {
		@extend h3;

		font-size: 2.5rem;
		font-family: $fonts-post-title;
		font-weight: 900;
	}

	#post-subtitle {
		@extend h4;

		font-size: 1.63rem;
		font-family: $fonts-post-subtitle;
	}

	#post-content {
		font-family: $fonts-post-content;
	    font-size: 1.31rem;
	    line-height: 1.5;
	}

	.post-image-container {

		.post-image {
			width: 100%;
			height: 100%;
		}
	}
}

.end-of-post {
	margin-top: 50px;
	margin-bottom: 34px;
}


#related-posts-section {

	margin-bottom: 50px;

	a {
		color: black;
	}

	.related-post {

		.post-thumbnail {
			height: 220px;
			margin-bottom: 15px;

			img {
				height: 100%;
				width: 100%;
			}
		}

		.post-date {
			font-size: 1.1rem;
			color: grey;
			margin-bottom: 9px;

		}

		.post-title {
			@extend h5;
			font-size: 1.6rem;
    		margin-bottom: 22px;
    		padding-bottom: 23px;
			position: relative;

			&:after {
				content:'';
				position:absolute;
				left:0;
				bottom:0;
				width:30px;
				height:2px;
				transition: width 0.2s ease-in-out;
				background-color: #4b673a;
			}

			&:hover:after {
				width: 100px;
			}
		}

		.post-subtitle {
			font-size: 1rem;
			padding-bottom: 17px;
		}

	}


	.card-image {


		&:first-child:before {
			@extend .image-dark-gradient-mask
		}



		.card-title {
			z-index: 2;
		}
	}
}
