#DIV_1 {
    bottom: 0px;
    box-sizing: border-box;
    clear: both;
    height: 510px;
    left: 0px;
    position: relative;
    right: 0px;
    top: 0px;
    width: 1068px;
    perspective-origin: 534px 255px;
    transform-origin: 534px 255px;
    font: normal normal normal normal 14px / 21px Verdana, Geneva, sans-serif;
    padding: 0px 0px 48px;
}/*#DIV_1*/

#DIV_2 {
    box-sizing: border-box;
    height: 462px;
    width: 1068px;
    perspective-origin: 534px 231px;
    transform-origin: 534px 231px;
    font: normal normal normal normal 14px / 21px Verdana, Geneva, sans-serif;
}/*#DIV_2*/

#DIV_3, #DIV_20 {
    box-sizing: border-box;
    width: 1068px;
    perspective-origin: 534px 0px;
    transform-origin: 534px 0px;
    font: normal normal normal normal 14px / 21px Verdana, Geneva, sans-serif;
}/*#DIV_3, #DIV_20*/

#DIV_4 {
    bottom: 0px;
    box-sizing: border-box;
    float: left;
    height: 462px;
    left: 0px;
    position: relative;
    right: 0px;
    top: 0px;
    width: 532px;
    perspective-origin: 266px 231px;
    transform-origin: 266px 231px;
    font: normal normal normal normal 14px / 21px Verdana, Geneva, sans-serif;
    margin: 0px 3px 0px 0px;
    overflow: hidden;
}/*#DIV_4*/

#DIV_5 {
    bottom: 0px;
    box-sizing: border-box;
    height: 462px;
    left: 0px;
    position: relative;
    right: 0px;
    top: 0px;
    width: 532px;
    perspective-origin: 266px 231px;
    transform-origin: 266px 231px;
    background: rgb(229, 229, 229) none repeat scroll 0% 0% / auto padding-box border-box;
    font: normal normal normal normal 14px / 21px Verdana, Geneva, sans-serif;
    overflow: hidden;
}/*#DIV_5*/

#A_6 {
    box-sizing: border-box;
    color: rgb(77, 178, 236);
    text-decoration: none;
    column-rule-color: rgb(77, 178, 236);
    border: 0px none rgb(77, 178, 236);
    font: normal normal normal normal 14px / 21px Verdana, Geneva, sans-serif;
    outline: rgb(77, 178, 236) none 0px;
}/*#A_6*/

#A_6:before {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(77, 178, 236);
    content: '""';
    display: block;
    height: 462px;
    left: 0px;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 532px;
    z-index: 1;
    column-rule-color: rgb(77, 178, 236);
    perspective-origin: 266px 231px;
    transform-origin: 266px 231px;
    background: rgba(0, 0, 0, 0) linear-gradient(rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.701961) 100%) repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(77, 178, 236);
    font: normal normal normal normal 14px / 21px Verdana, Geneva, sans-serif;
    outline: rgb(77, 178, 236) none 0px;
    transition: background-color 0.3s ease 0s;
}/*#A_6:before*/

#IMG_7 {
    box-sizing: border-box;
    color: rgb(77, 178, 236);
    display: block;
    height: 462px;
    width: 534px;
    column-rule-color: rgb(77, 178, 236);
    perspective-origin: 267px 231px;
    transform-origin: 267px 231px;
    border: 0px none rgb(77, 178, 236);
    font: normal normal normal normal 14px / 21px Verdana, Geneva, sans-serif;
    outline: rgb(77, 178, 236) none 0px;
    transition: -webkit-transform 0.3s ease 0s, opacity 0.3s ease 0s;
}/*#IMG_7*/

#DIV_8 {
    bottom: 0px;
    box-sizing: border-box;
    height: 168px;
    left: 0px;
    pointer-events: none;
    position: absolute;
    right: 0px;
    top: 294px;
    width: 532px;
    z-index: 1;
    perspective-origin: 266px 84px;
    transform-origin: 266px 84px;
    font: normal normal normal normal 14px / 21px Verdana, Geneva, sans-serif;
}/*#DIV_8*/

#DIV_9 {
    box-sizing: border-box;
    height: 148px;
    pointer-events: none;
    width: 532px;
    perspective-origin: 266px 74px;
    transform-origin: 266px 74px;
    font: normal normal normal normal 14px / 21px Verdana, Geneva, sans-serif;
}/*#DIV_9*/

#DIV_10 {
    box-sizing: border-box;
    height: 126px;
    pointer-events: none;
    width: 425.594px;
    perspective-origin: 212.797px 63px;
    transform-origin: 212.797px 63px;
    font: normal normal normal normal 27px / 21px Verdana, Geneva, sans-serif;
    margin: 0px 0px 0px 20px;
}/*#DIV_10*/

#A_11 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: inline-block;
    height: 19px;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: top;
    width: 101.438px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 50.7188px 9.5px;
    transform-origin: 50.7188px 9.5px;
    background: rgba(0, 0, 0, 0.701961) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    font: normal normal 500 normal 10px / 13px Roboto, sans-serif;
    margin: 0px 0px 5px;
    outline: rgb(255, 255, 255) none 0px;
    padding: 3px 7px;
    transition: background-color 0.3s ease 0s;
}/*#A_11*/

#H3_12 {
    box-sizing: border-box;
    color: rgb(17, 17, 17);
    height: 102px;
    pointer-events: none;
    width: 425.594px;
    column-rule-color: rgb(17, 17, 17);
    perspective-origin: 212.797px 51px;
    transform-origin: 212.797px 51px;
    border: 0px none rgb(17, 17, 17);
    font: normal normal 500 normal 27px / 34px Roboto, sans-serif;
    margin: 0px;
    outline: rgb(17, 17, 17) none 0px;
}/*#H3_12*/

#A_13 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    pointer-events: none;
    text-decoration: none;
    text-shadow: rgba(0, 0, 0, 0.2) 1px 1px 3px;
    column-rule-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 500 normal 27px / 34px Roboto, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#A_13*/

#DIV_14 {
    box-sizing: border-box;
    height: 11px;
    pointer-events: none;
    width: 512px;
    perspective-origin: 256px 5.5px;
    transform-origin: 256px 5.5px;
    font: normal normal normal normal 11px / 11px "Open Sans", arial, sans-serif;
    margin: 11px 0px 20px 20px;
}/*#DIV_14*/

#SPAN_15 {
    bottom: 0px;
    box-sizing: border-box;
    display: inline-block;
    height: 11px;
    left: 0px;
    position: relative;
    right: 0px;
    top: 0px;
    width: 73.7344px;
    perspective-origin: 36.8594px 5.5px;
    transform-origin: 36.8594px 5.5px;
    font: normal normal bold normal 11px / 11px "Open Sans", arial, sans-serif;
}/*#SPAN_15*/

#A_16 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-shadow: rgba(0, 0, 0, 0.298039) 1px 1px 1px;
    column-rule-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal bold normal 11px / 11px "Open Sans", arial, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#A_16*/

#SPAN_17 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    text-shadow: rgba(0, 0, 0, 0.298039) 1px 1px 1px;
    column-rule-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal normal 11px / 11px "Open Sans", arial, sans-serif;
    margin: 0px 2px;
    outline: rgb(255, 255, 255) none 0px;
}/*#SPAN_17*/

#SPAN_18 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: inline-block;
    height: 11px;
    left: 0px;
    pointer-events: none;
    position: relative;
    right: 0px;
    text-shadow: rgba(0, 0, 0, 0.298039) 1px 1px 1px;
    top: 0px;
    width: 61.9688px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 30.9844px 5.5px;
    transform-origin: 30.9844px 5.5px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal normal 11px / 11px "Open Sans", arial, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#SPAN_18*/

#TIME_19 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    pointer-events: none;
    text-shadow: rgba(0, 0, 0, 0.298039) 1px 1px 1px;
    column-rule-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal normal 11px / 11px "Open Sans", arial, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#TIME_19*/

#DIV_21 {
    bottom: 0px;
    box-sizing: border-box;
    float: left;
    height: 261px;
    left: 0px;
    position: relative;
    right: 0px;
    top: 0px;
    width: 533px;
    perspective-origin: 266.5px 130.5px;
    transform-origin: 266.5px 130.5px;
    font: normal normal normal normal 14px / 21px Verdana, Geneva, sans-serif;
    margin: 0px 0px 3px;
    overflow: hidden;
}/*#DIV_21*/

#DIV_22 {
    bottom: 0px;
    box-sizing: border-box;
    height: 261px;
    left: 0px;
    position: relative;
    right: 0px;
    top: 0px;
    width: 533px;
    perspective-origin: 266.5px 130.5px;
    transform-origin: 266.5px 130.5px;
    background: rgb(229, 229, 229) none repeat scroll 0% 0% / auto padding-box border-box;
    font: normal normal normal normal 14px / 21px Verdana, Geneva, sans-serif;
    overflow: hidden;
}/*#DIV_22*/

#A_23 {
    box-sizing: border-box;
    color: rgb(77, 178, 236);
    text-decoration: none;
    column-rule-color: rgb(77, 178, 236);
    border: 0px none rgb(77, 178, 236);
    font: normal normal normal normal 14px / 21px Verdana, Geneva, sans-serif;
    outline: rgb(77, 178, 236) none 0px;
}/*#A_23*/

#A_23:before {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(77, 178, 236);
    content: '""';
    display: block;
    height: 261px;
    left: 0px;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 533px;
    z-index: 1;
    column-rule-color: rgb(77, 178, 236);
    perspective-origin: 266.5px 130.5px;
    transform-origin: 266.5px 130.5px;
    background: rgba(0, 0, 0, 0) linear-gradient(rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.701961) 100%) repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(77, 178, 236);
    font: normal normal normal normal 14px / 21px Verdana, Geneva, sans-serif;
    outline: rgb(77, 178, 236) none 0px;
    transition: background-color 0.3s ease 0s;
}/*#A_23:before*/

#IMG_24 {
    box-sizing: border-box;
    color: rgb(77, 178, 236);
    display: block;
    height: 261px;
    width: 533px;
    column-rule-color: rgb(77, 178, 236);
    perspective-origin: 266.5px 130.5px;
    transform-origin: 266.5px 130.5px;
    border: 0px none rgb(77, 178, 236);
    font: normal normal normal normal 14px / 21px Verdana, Geneva, sans-serif;
    outline: rgb(77, 178, 236) none 0px;
    transition: -webkit-transform 0.3s ease 0s, opacity 0.3s ease 0s;
}/*#IMG_24*/

#DIV_25 {
    bottom: 0px;
    box-sizing: border-box;
    height: 118px;
    left: 0px;
    pointer-events: none;
    position: absolute;
    right: 0px;
    top: 143px;
    width: 533px;
    z-index: 1;
    perspective-origin: 266.5px 59px;
    transform-origin: 266.5px 59px;
    font: normal normal normal normal 14px / 21px Verdana, Geneva, sans-serif;
}/*#DIV_25*/

#DIV_26 {
    box-sizing: border-box;
    height: 84px;
    pointer-events: none;
    width: 533px;
    perspective-origin: 266.5px 42px;
    transform-origin: 266.5px 42px;
    font: normal normal normal normal 14px / 21px Verdana, Geneva, sans-serif;
}/*#DIV_26*/

#DIV_27 {
    box-sizing: border-box;
    height: 84px;
    pointer-events: none;
    width: 426.391px;
    perspective-origin: 213.188px 42px;
    transform-origin: 213.188px 42px;
    font: normal normal normal normal 24px / 21px Verdana, Geneva, sans-serif;
    margin: 20px 0px 14px 19px;
}/*#DIV_27*/

#A_28 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: inline-block;
    height: 19px;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: top;
    width: 50.125px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 25.0625px 9.5px;
    transform-origin: 25.0625px 9.5px;
    background: rgba(0, 0, 0, 0.701961) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    font: normal normal 500 normal 10px / 13px Roboto, sans-serif;
    margin: 0px 0px 5px;
    outline: rgb(255, 255, 255) none 0px;
    padding: 3px 7px;
    transition: background-color 0.3s ease 0s;
}/*#A_28*/

#H3_29 {
    box-sizing: border-box;
    color: rgb(17, 17, 17);
    height: 60px;
    pointer-events: none;
    width: 426.391px;
    column-rule-color: rgb(17, 17, 17);
    perspective-origin: 213.188px 30px;
    transform-origin: 213.188px 30px;
    border: 0px none rgb(17, 17, 17);
    font: normal normal 500 normal 24px / 30px Roboto, sans-serif;
    margin: 0px;
    outline: rgb(17, 17, 17) none 0px;
}/*#H3_29*/

#A_30 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    pointer-events: none;
    text-decoration: none;
    text-shadow: rgba(0, 0, 0, 0.2) 1px 1px 3px;
    column-rule-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 500 normal 24px / 30px Roboto, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#A_30*/

#DIV_31 {
    bottom: 0px;
    box-sizing: border-box;
    float: left;
    height: 198px;
    left: 0px;
    position: relative;
    right: 0px;
    top: 0px;
    width: 265px;
    perspective-origin: 132.5px 99px;
    transform-origin: 132.5px 99px;
    font: normal normal normal normal 14px / 21px Verdana, Geneva, sans-serif;
    overflow: hidden;
}/*#DIV_31*/

#DIV_32, #DIV_42 {
    bottom: 0px;
    box-sizing: border-box;
    height: 198px;
    left: 0px;
    position: relative;
    right: 0px;
    top: 0px;
    width: 265px;
    perspective-origin: 132.5px 99px;
    transform-origin: 132.5px 99px;
    background: rgb(229, 229, 229) none repeat scroll 0% 0% / auto padding-box border-box;
    font: normal normal normal normal 14px / 21px Verdana, Geneva, sans-serif;
    overflow: hidden;
}/*#DIV_32, #DIV_42*/

#A_33, #A_43 {
    box-sizing: border-box;
    color: rgb(77, 178, 236);
    text-decoration: none;
    column-rule-color: rgb(77, 178, 236);
    border: 0px none rgb(77, 178, 236);
    font: normal normal normal normal 14px / 21px Verdana, Geneva, sans-serif;
    outline: rgb(77, 178, 236) none 0px;
}/*#A_33, #A_43*/

#A_33:before, #A_43:before {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(77, 178, 236);
    content: '""';
    display: block;
    height: 198px;
    left: 0px;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 265px;
    z-index: 1;
    column-rule-color: rgb(77, 178, 236);
    perspective-origin: 132.5px 99px;
    transform-origin: 132.5px 99px;
    background: rgba(0, 0, 0, 0) linear-gradient(rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.701961) 100%) repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(77, 178, 236);
    font: normal normal normal normal 14px / 21px Verdana, Geneva, sans-serif;
    outline: rgb(77, 178, 236) none 0px;
    transition: background-color 0.3s ease 0s;
}/*#A_33:before, #A_43:before*/

#IMG_34, #IMG_44 {
    box-sizing: border-box;
    color: rgb(77, 178, 236);
    display: block;
    height: 198px;
    width: 265px;
    column-rule-color: rgb(77, 178, 236);
    perspective-origin: 132.5px 99px;
    transform-origin: 132.5px 99px;
    border: 0px none rgb(77, 178, 236);
    font: normal normal normal normal 14px / 21px Verdana, Geneva, sans-serif;
    outline: rgb(77, 178, 236) none 0px;
    transition: -webkit-transform 0.3s ease 0s, opacity 0.3s ease 0s;
}/*#IMG_34, #IMG_44*/

#DIV_35, #DIV_45 {
    bottom: 0px;
    box-sizing: border-box;
    height: 79px;
    left: 0px;
    pointer-events: none;
    position: absolute;
    right: 0px;
    top: 119px;
    width: 265px;
    z-index: 1;
    perspective-origin: 132.5px 39.5px;
    transform-origin: 132.5px 39.5px;
    font: normal normal normal normal 14px / 21px Verdana, Geneva, sans-serif;
}/*#DIV_35, #DIV_45*/

#DIV_36, #DIV_46 {
    box-sizing: border-box;
    height: 68px;
    pointer-events: none;
    width: 265px;
    perspective-origin: 132.5px 34px;
    transform-origin: 132.5px 34px;
    font: normal normal normal normal 14px / 21px Verdana, Geneva, sans-serif;
}/*#DIV_36, #DIV_46*/

#DIV_37, #DIV_47 {
    box-sizing: border-box;
    height: 68px;
    pointer-events: none;
    width: 235px;
    perspective-origin: 117.5px 34px;
    transform-origin: 117.5px 34px;
    font: normal normal normal normal 16px / 21px Verdana, Geneva, sans-serif;
    margin: 0px 15px 11px;
}/*#DIV_37, #DIV_47*/

#A_38 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: inline-block;
    height: 19px;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: top;
    width: 44.6719px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 22.3281px 9.5px;
    transform-origin: 22.3281px 9.5px;
    background: rgba(0, 0, 0, 0.701961) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    font: normal normal 500 normal 10px / 13px Roboto, sans-serif;
    margin: 0px 0px 5px;
    outline: rgb(255, 255, 255) none 0px;
    padding: 3px 7px;
    transition: background-color 0.3s ease 0s;
}/*#A_38*/

#H3_39, #H3_49 {
    box-sizing: border-box;
    color: rgb(17, 17, 17);
    height: 42px;
    pointer-events: none;
    width: 235px;
    column-rule-color: rgb(17, 17, 17);
    perspective-origin: 117.5px 21px;
    transform-origin: 117.5px 21px;
    border: 0px none rgb(17, 17, 17);
    font: normal normal 500 normal 16px / 21px Roboto, sans-serif;
    margin: 2px 0px 0px;
    outline: rgb(17, 17, 17) none 0px;
}/*#H3_39, #H3_49*/

#A_40, #A_50 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    pointer-events: none;
    text-decoration: none;
    text-shadow: rgba(0, 0, 0, 0.2) 1px 1px 3px;
    column-rule-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 500 normal 16px / 21px Roboto, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#A_40, #A_50*/

#DIV_41 {
    bottom: 0px;
    box-sizing: border-box;
    float: left;
    height: 198px;
    left: 0px;
    position: relative;
    right: 0px;
    top: 0px;
    width: 265px;
    perspective-origin: 132.5px 99px;
    transform-origin: 132.5px 99px;
    font: normal normal normal normal 14px / 21px Verdana, Geneva, sans-serif;
    margin: 0px 0px 0px 3px;
    overflow: hidden;
}/*#DIV_41*/

#A_48 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: inline-block;
    height: 19px;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: top;
    width: 84.3906px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 42.1875px 9.5px;
    transform-origin: 42.1875px 9.5px;
    background: rgba(0, 0, 0, 0.701961) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    font: normal normal 500 normal 10px / 13px Roboto, sans-serif;
    margin: 0px 0px 5px;
    outline: rgb(255, 255, 255) none 0px;
    padding: 3px 7px;
    transition: background-color 0.3s ease 0s;
}/*#A_48*/

#DIV_51 {
    box-sizing: border-box;
    height: 462px;
    width: 1068px;
    perspective-origin: 534px 231px;
    transform-origin: 534px 231px;
    font: normal normal normal normal 14px / 21px Verdana, Geneva, sans-serif;
}/*#DIV_51*/

#DIV_51:after {
    box-sizing: border-box;
    clear: both;
    content: '""';
    display: table;
    font: normal normal normal normal 14px / 0px Verdana, Geneva, sans-serif;
}/*#DIV_51:after*/

#DIV_51:before {
    box-sizing: border-box;
    content: '""';
    display: table;
    font: normal normal normal normal 14px / 0px Verdana, Geneva, sans-serif;
}/*#DIV_51:before*/

