@import "materialize/components/color";
$primary-color: color("shades", "white") !default;
$link-color: color("red", "darken-1") !default;
$slider-indicator-color:  #af9cab; //color('lime', 'lighten-2') !default;
$card-link-color: color('lime', 'darken-2') !default;

nav {
	background-color: white;
}

$footer-bg-color: color("grey", "lighten-3");

$website-background-color: #FFFFFF;

$navbar-links-color: #af9cab;
$navbar-links-hover-color: #fcedfd;
$waves-custom-color: #fab0ff;
$card-tag-color: black;
$card-content-color: #f1f1f1;
$footer-color: #e0e0e0;
$footer-copyright-color: #bdbdbd;
$footer-text-color: #6f6f6f;
