@import "materialize/components/color";

//----------------------- Colors ------------------------------//
// Globals
$primary-color: color("shades", "white") !default;
$link-color: black !default;
$slider-indicator-color:  #bcfb58; //#063a35; //color('lime', 'lighten-2') !default;
$website-background-color: transparent;

// Navbar
$navbar-links-color: #063a35;
$navbar-links-hover-color: transparent;

// Cards
$card-link-color: color('lime', 'darken-2') !default;
$card-tag-color: black;
$card-content-color: #f1f1f1;

// Footer
$footer-color: #e0e0e0;
$footer-copyright-color: #bdbdbd;
$footer-text-color: #6f6f6f;
$footer-bg-color: color("grey", "lighten-3");

//Extra
$waves-custom-color: #b8d688; //#fab0ff;
$active-page-color: $waves-custom-color;


//----------------------- Fonts ------------------------------//
// Navbar
$fonts-navbar-links: 'PoppinsRegular'; //'glacial-regular';
$fonts-navbar-links-font-size: 1.0rem;
$fonts-navbar-links-social-buttons-font-size: 0.6rem;
$fonts-navbar-brand-logo-font-size: 1.6rem;

// Slider
$fonts-slider-caption-title: 'PoppinsRegular';//Poppins, Georgia, serif; //'glacial-regular';
$fonts-slider-caption-subtitle: 'Raleway-ExtraLight';//'Raleway-ExtraLight';//'garamond-regular';
$fonts-slider-caption-title-font-size: 2rem;
$fonts-slider-caption-subtitle-font-size: 1.3rem;

// Cards
$fonts-card-tag: 'garamond-regular';
$fonts-card-title: 'garamond-regular';
$fonts-card-subtitle: 'garamond-regular';
$fonts-card-tag-font-size: 0.75rem;
$fonts-card-title-font-size: 2rem;
$fonts-card-subtitle-font-size: 1.0rem;


// Post
$fonts-post-title: 'glacial-regular';
$fonts-post-subtitle: 'garamond-regular';
$fonts-post-content: 'garamond-regular';

// Footer
$fonts-footer: 'garamond-regular';


//--------------------- Sizes ------------------------------//
$posts-index-post-height: 350px;

$index-post-height: 356px;
$index-post-width: $index-post-height;
$index-post-height-mobile: 500px;
$index-post-width-mobile: $index-post-height-mobile;
