@import "materialize/components/color";

//----------------------- Colors ------------------------------//
// Globals
$primary-color: color("shades", "white") !default;
$link-color: black !default;
$slider-indicator-color: #bcfb58; //#063a35; //color('lime', 'lighten-2') !default;
$website-background-color: transparent;

// Navbar
$navbar-links-color: #063a35;
$navbar-links-hover-color: transparent;

// Cards
$card-link-color: color('lime', 'darken-2') !default;
$card-tag-color: black;
$card-content-color: #f1f1f1;

// Footer
$footer-color: #e0e0e0;
$footer-copyright-color: #bdbdbd;
$footer-text-color: #6f6f6f;
$footer-bg-color: color("grey", "lighten-3");

//Extra
$waves-custom-color: #a9e24d; //#b8d688;
$active-page-color: $waves-custom-color;
$calendar-event-color: $waves-custom-color;

//Posts
$search-highlight-color: #bcfb58;
$input-focus-color: $search-highlight-color !default;


//----------------------- Fonts ------------------------------//
// Navbar
$fonts-navbar-links: 'PoppinsRegular'; //'glacial-regular';
$fonts-navbar-links-font-size: 0.9rem;
$fonts-navbar-links-social-buttons-font-size: 0.53rem;
$fonts-navbar-brand-logo-font-size: 1.6rem;

// Slider
$fonts-slider-caption-title: 'PoppinsRegular';//Poppins, Georgia, serif; //'glacial-regular';
$fonts-slider-caption-subtitle: 'Raleway-ExtraLight';//'Raleway-ExtraLight';//'garamond-regular';
//$fonts-slider-caption-title-font-size: inherit;//2rem;
$fonts-slider-caption-subtitle-font-size: 1.2rem;

// Cards
$fonts-card-tag: 'garamond-regular';
$fonts-card-title: 'garamond-regular';
$fonts-card-subtitle: 'garamond-regular';
$fonts-card-tag-font-size: 0.9rem;
$fonts-card-title-font-size: 2rem;
$fonts-card-subtitle-font-size: 1.0rem;


// Post
$fonts-post-title: 'garamond-regular';
$fonts-post-subtitle: "Raleway-ExtraLight";
$fonts-post-content: 'RalewayRegular';
$fonts-post-subtitle-size: 1.2rem;
$fonts-post-subtitle-size-mobile: 1.5rem;
$fonts-post-p-size: 1.16rem;
$fonts-post-p-size-mobile: 1.5rem;
$fonts-post-related-subtitle-size: 1.1rem;

// Footer
$fonts-footer: 'garamond-regular';


//--------------------- Sizes ------------------------------//
$index-logo-navbar-height: 100px;
$index-logo-navbar-height-mobile: 200px;
$index-burger-button-size: 4rem;
$index-burger-button-size-small: 2.5rem;
$index-main-navbar-height: 40px;

$index-post-height: 500px;
$index-post-width: $index-post-height;
$index-post-height-mobile: 600px;
$index-post-width-mobile: $index-post-height-mobile;

$posts-index-post-height: 400px;
